---
BasedOnStyle: Mozilla
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: 'false'
BreakConstructorInitializers: AfterColon
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: 'false'
ConstructorInitializerIndentWidth: '4'
Cpp11BracedListStyle: 'true'
IndentWidth: '4'
Language: Cpp
MaxEmptyLinesToKeep: '2'
PointerAlignment: Right
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: Never
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Cpp11
TabWidth: '4'
UseTab: Never

...
