.vscode
.DS_Store
/build
/bin
/lib
/lib_js/build
/lib_js_esp32/build
/util/dukc
/test/duk_crash
*.d
*.o
/node_modules
/test/tests_script/node_modules
/test/node/
/test/compiled/
/test/tests_script/summary.html
*.scss.d.ts
