body, html {
    margin: 0;
    padding: 0;
}
* {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body>div {
    background: #eeeeff;
    box-shadow: 0 0 220px 125px #eeeeff;
    max-width: 790px;
    border-radius: 30px;
    padding: 20px;
}


small {
    font-size: 12pt;
}

input[type=text] {
    border: 1px solid black;
    width: 460px;
    text-align: left;
    padding: 5px;
}
input[type=submit] {
    -webkit-appearance: none;
    margin-left: 5px;
}

a {
    text-decoration: none;
}
a:hover {
    color: #8888ff;
}

.welcome {
    font-size: 30pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}
#messages {
    background-color: white;
    padding: 5px;
    width: 460px;
    height: 100px;
    border: 1px solid black;
    text-align: left;
    overflow-y: scroll;
}